<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
<div class="border example col-xs-1">[x]</div>
